<p id="notice"><%= notice %></p>

<h2 class="list_title"><%= @list.title %></h2>
<p class="list_sub_title"><%= @list.description %></p>

<div id="tasks_wrapper">
 <%= render @list.tasks %>
 <div id="form">
  <%= render "tasks/form" %>
 </div>
</div>

<div class="links">
 <%= link_to 'Back', lists_path %>&nbsp&nbsp|&nbsp&nbsp
 <%= link_to 'Delete', list_path(@list), method: :delete, data: { confirm: "Are you sure?" } %>&nbsp&nbsp|&nbsp&nbsp
 <%= link_to 'Edit', edit_list_path(@list) %>
</div>